
@{
	ViewData["Title"] = "Details";
}

<h1>Televizor</h1>

<div class="col-md-4">
	<div class="row">
		<h1>@Model.Name</h1>
	</div>
	<div class="row">
		<img src="@Model.Image" width="800" height="400" />
	</div>
	@Html.ActionLink("All tvs", "Index", "Television");
</div>
